@charset "UTF-8";
/* 상세 레시피 테이블 고정*/
.table-recipe tbody{
  display: block; /* 가로세로 조절 가능 */
  max-height: 150px; /* 보여주고 싶은 만큼 세로값 입력 */
  overflow-y: scroll; /* 스크롤 만듦 */
}
.table-recipe thead, 
.table-recipe tbody tr {
  display: table;
  width: 100%; 
}
.menu-img{
	height: 90px;
	width: 100px !important;
}
.td-sumimg .position-relative{
	width: 100px !important;
}
/* 상품 단가 테이블 */ 
.table-recipe tbody{
	max-height: 300px;
}
 .gdsDtl .active,
 .menuDtl .active{
	color: var(--brand--primary);
}
#deleteMenu:disabled {
	background-color: var(--btn--disabled);
    color: var(--text--placeholder);
}
#deleteMenu:disabled:hover {
	background-color: var(--btn--disabled);
    color: var(--text--placeholder);
}

/*메뉴 구분 선택*/
.form_radio_btn {
	width: 20%;
	height : 45px;
  		border: 1px solid #EAE7E7;
  		border-radius: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: block;
  		border-radius: 10px;
 			margin: 0 auto;
  		text-align: center;
  		height: -webkit-fill-available;
  		line-height: 45px;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: var(--green--4);
	color: #fff;
}
 
/* Hover */
.form_radio_btn label:hover {
	color: #666;
}
 
/* Disabled */
.form_radio_btn input[type=radio] + label {
	background: #F9FAFC;
	color: #666;
}

.btn-active:hover {
    background-color: var(--green--4);
}
.btn-active {
    background-color: var(--btn--active);
    color: var(--text--white);
    padding: 10px 15px;
    border-radius: var(--radius--m);
    font-size: var(--primary--size);
    border: none;
}